[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "oh-my-tmux"]
	path = oh-my-tmux
	url = https://github.com/gpakosz/.tmux
[submodule "tmux/plugins/tmux-tilish"]
	path = tmux/plugins/tmux-tilish
	url = git@github.com:jabirali/tmux-tilish.git
[submodule "dictionaries"]
	path = dictionaries
	url = git@github.com:rime-aca/dictionaries.git
